/* Header */
header {
    width: 100%;
    height: 40vh;
}
#home header{
    background:  no-repeat white url(images/cliff_ocean.jpg);
    background-size: 100% auto;
}
#activities header{
    background:  no-repeat white url(images/runfly.jpg);
    background-size: 100% auto;
}
#contact header{
    background:  no-repeat white url(images/cliff_rock.jpg);
    background-size: 100% auto;
}
#cliffs header{
    background:  no-repeat white url(images/forest_cliff.jpg);
    background-size: 100% auto;
}
.main-header {
    background-color:rgba(38, 41, 61, 0.7) ;
    width: 700px;
    margin: 2em auto 0 auto;
    min-height: 100px;
    height: 115px;
}
.main-header .logo img {
    width: 100px;
    height: 115px;
    margin: 0 2em 0 0;
    float: left;
}

/* Navigation */
.main-menu {
    height:100%;
    margin-left: 227px;
    font-weight: 400;
    padding:0;
}
.main-menu ul li {
    list-style-type: none;
    display: inline-block;
    float: left;
    padding-left: 25px;
    padding-right: 25px;
    border-left: 1px solid rgba(202, 204, 202, 0.6);
    line-height: 100px;
    text-transform: uppercase;
    font-size: 14px;
}
.main-menu ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.main-menu ul li a:hover {
    color: #9ed034;
}
.main-menu ul li.active {
    background: #9ed034;
    border: none;
}
.main-menu ul li.active a {
    color: #fff;
}
@media (max-width: 992px) {
    .show, .collapsing {
        background-color:  rgba(38, 41, 61, 0.7);
    }
}

/* Main */
main {
    padding: 3em 6em 3em 5.5em;
    margin: 2em 0;
    font-family:Arial, Helvetica, sans-serif;
}
main h1 {
    font-size: 2.5em;
    padding-bottom: 0.5em;
    color: #9ed034;
}
main h2 {
    font-size: 1.7em;
}

/* Partners */
section {
    width: 100%;
    background-color: #4288C3;
}
section #partners {  
    width: 1200px;
    padding: 2em 0 2em 0;
    margin: 0 auto;
    text-align: center;
}
section #partners .partner {
    display: inline-block;
    margin: 0 0.75em;
    padding: 1.3em 1.5em;
    background-color: #fff;
    border-radius: 50%;
}
section #partners .partner img {
    width: 90px;
    height: 90px;
}

/* Footer */
footer {
    width: 100%;
    height: 155px;
    padding-bottom: 1em;
    background-color: #ecfab8;
}
footer #nondisclaimer .copy {
    padding: 3.5em 3.5em 3.5em 13em;
    float: left;
    font-size: 0.9em;
}
footer #nondisclaimer .social {
    padding: 2.5em;
    margin-right: 9.25em;
    float: right;
}
footer #disclaimer {
    clear: both;
}

footer #disclaimer p {
    font-size: 0.85em;
    text-align: center;
}
footer #nondisclaimer .social .fa {
    padding: 15px;
    font-size: 15px;
    width: 15px;
    text-align: center;
    text-decoration: none;
    margin: 0 4px;
    border-radius: 50%;
}
footer #nondisclaimer .social .fa:hover {
    opacity: 0.7;
}
footer #nondisclaimer .social .fa-facebook {
    background: #3B5998;
    color: white;
}
    
footer #nondisclaimer .social .fa-twitter {
    background: #55ACEE;
    color: white;
}

footer #nondisclaimer .social .fa-instagram {
    background: #125688;
    color: white;
}

/* Home */

/* Activities */
table {
    width: 1000px;
    margin: 4em auto 0 auto;
}
caption {
    background: #852b1b;
    height: 75px;
    color: aliceblue;
    font-size: 1.3em;
    font-weight: bold;
    padding-top: 1em;
    caption-side: top;
}
thead {
    background: #bdE1FF;
    text-align: center;
}
tbody {
    background: #EEFFE6;
    text-align: center;
}
th,td {
    width: 225px;
    height: 75px;
    vertical-align: middle;
    border: solid 1px #852B1B;
}
th:first-child {
    width: 145px;
    height: 50px;
    background: #4988D1;
    color: #fff;
}
td:first-child {
    font-weight:bold;
    background: #BDE1FF;
}
#activities main #displaySelected #result, #activities main #displaySelected #sendinfo {
    display:inline-block;
    margin:0;
}
#activities main #result {
    min-height: 50px;
    width: 300px;
    padding: 0;
}
#activities main #result h4 {
    margin-bottom: 1em;
    font-size: 1.15em;
}
#activities main #displaySelected #sendinfo input[type="email"] {
    width: 200px;
}
/* Contact */
legend{
    color:#4977D1;
    text-transform: uppercase;
    font-weight: bold;
}
label {
    display: block;
    margin: 15px 0 0 0;
}
input[type="radio"] {
    width: 25px;
}
textarea {
    width: 300px;
}
span:first-child { 
    font-weight: bold;
}
.phone,.email {
    margin-top: 1em;
    margin-bottom: 1em;
}
.radios {
    display: inline-block;
}
fieldset {
    border: 2px solid #9ed034;
}
li {
    display:inline-block;
}
main #album #photo img {
    width: 600px;
    height: 400px;
    border-top: #852b1b solid 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    display:inline;
}
figcaption {
    position:relative;
    left:350px;
    bottom:430px;
    font-size: large;
    color:#fff;
    font-weight:bold;
}
#timeofday {
    background-image:linear-gradient(0deg, rgba(251,215,139,1) 0%, rgba(118,213,245,1) 100%);
    font-family: Arial, Helvetica, sans-serif;
    color:#3a3a3a;
    height:3em;
    text-align:center;
}
span {
    position:relative;
    top:10px;
}
span:last-child {
    color:#125688;
}
.randomcode {
    margin:20px;
    width:100px;
    height:40px;
    display:flex;
}
.randomcode p{
    background-color: #3a3a3a50;
    height:40px;
    width:100px;
    margin-left:10px;
    position:relative;
    bottom:28px;
    padding-top:20px;
    padding-right:20px;
    padding-left: 20px;;
    text-align:center;
}

.highlight { color:white; background: #57ca22;}



.lightbox-toggle {
    color: black;
}
  
.backdrop {
    z-index: 1;
    opacity: .0;
    filter: alpha(opacity=0);
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: #000;
}
.box {
    z-index: 2;
    position: fixed;
    opacity: 1;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: auto;
    width: 2000px;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    -moz-box-shadow: 0px 0px 5px #444444;
    -webkit-box-shadow: 0px 0px 5px #444444;
    box-shadow: 0px 0px 5px #444444;
    z-index: 3;
}

.close {
    float: right;
    cursor: pointer;
}

.box img {
    width:100%;
}

/* ACTIVATE BELOW WHEN TESTING NAVIGATION AND OTHERS FOR RWD */

/* Media Queries */
/*@media (max-width: 768px) {
    footer #nondisclaimer .copy {
        padding: 3.5em 0em 3.5em 0em;
        text-align: center;
        float: none;
        font-size: 0.9em;
      }
      footer #nondisclaimer .social {
        padding: 2.5em 0;
        margin: 0;
        text-align: center;
        float: none;
      }
}

@media (max-width: 992px) {
    .logo img {
        position: relative;
        bottom: 8px;
    }
    .main-menu {
        width: 200px;
        background-color:rgb(255, 255, 255);
        position: absolute;
        right: 1.7em;
      }
      .main-menu ul li {
        border-bottom: 1px solid rgba(202, 204, 202, 0.6);
      }
      main {
        padding: 3em 1em 3em 1em;
        margin: 0;
      }
      #home .main-col-content {
        padding: 25px;
        min-height: 450px;
        margin-top: 1em;
      }
} */